parameters:
	ignoreErrors:

		-
			message: "#^Cannot call method importNode\\(\\) on DOMDocument\\|null\\.$#"
			count: 1
			path: src/SchemaGenerator.php

		-
			message: "#^Method TYPO3\\\\FluidSchemaGenerator\\\\SchemaGenerator\\:\\:addChildWithCData\\(\\) should return SimpleXMLElement but returns SimpleXMLElement\\|null\\.$#"
			count: 1
			path: src/SchemaGenerator.php
